.footer__wrapper {
  padding-left: 20px;
  padding-right: 30px;
  box-sizing: border-box;
  width: $mobile-width;
  margin: 0 auto;
}

.footer__socials,
.footer__online-store,
.footer__media,
.footer__contacts {
  border-bottom: 1px solid $base-secondary;
}

@media (min-width: $tablet-width) {
  .footer {
    display: grid;
    grid-template-columns: 223px 222px 223px;
    grid-template-rows: auto auto auto;
    row-gap: 30px;
    column-gap: 30px;
    padding: 40px 20px 40px 20px;
    width: fit-content;
    margin: 0 auto;
  }

  .footer__wrapper {
    padding: 0;
    width: auto;
  }

  .footer__socials,
  .footer__online-store,
  .footer__media,
  .footer__contacts {
    border: none;
  }

  .footer__socials {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  .footer__online-store {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .footer__media {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .footer__contacts {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .footer__copyright {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    grid-template-columns: 318px 317px 318px 317px;
    grid-template-rows: auto auto;
    row-gap: 20px;
    column-gap: 30px;
    padding: 49px 40px 40px 40px;
  }

  .footer__socials {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .footer__online-store {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .footer__media {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .footer__contacts {
    grid-column: 4/5;
    grid-row: 1/2;
  }

  .footer__copyright {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}
